name: CI for JWT Authorizor

on:
  push:

jobs:
  lint:
    uses: dvsa/.github/.github/workflows/nodejs-lint.yaml@v5.0.3
    with:
      node-version: '22.x'
  test:
    uses: dvsa/.github/.github/workflows/nodejs-test.yaml@v5.0.3
    with:
      node-version: '22.x'

  security:
    uses: dvsa/.github/.github/workflows/nodejs-security.yaml@v5.0.3

    secrets:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

  build-names:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    outputs:
      short_sha: ${{ steps.sha.outputs.SHORT_SHA }}
      pretty_branch_name: ${{ steps.branch.outputs.NAME }}
    env:
      BRANCH_NAME: ${{ github.ref_name }}
    steps:
      - uses: actions/checkout@v4
      - name: Set short sha output
        id: sha
        run: echo "SHORT_SHA=$(git rev-parse --short=11 HEAD)" >> $GITHUB_OUTPUT
      - name: Set archive name output
        id: branch
        run: |
          export PRETTY_BRANCH_NAME=$(tr '/' '-' <<< "$BRANCH_NAME")
          echo "NAME=${PRETTY_BRANCH_NAME}" >> $GITHUB_OUTPUT

  build:
    uses: dvsa/.github/.github/workflows/nodejs-build.yaml@v5.0.3
    needs: [ build-names ]
    with:
      upload-artifact: true
      build-folder: dist
      build-command: npm run build:prod
      node-version: '22.x'

  upload-to-s3:
    if: startsWith(github.ref, 'refs/heads/feat') || startsWith(github.ref, 'refs/heads/feature') || startsWith(github.ref, 'refs/heads/fix') || startsWith(github.ref, 'refs/heads/main')
    uses: dvsa/.github/.github/workflows/upload-to-s3.yaml@v5.0.3
    needs: [ lint, test, build, build-names ]
    with:
      environment: dev
      short-commit: ${{ needs.build-names.outputs.short_sha }}
      artifact: jwt-authorizor-lambda-${{ needs.build-names.outputs.pretty_branch_name }}-${{ needs.build-names.outputs.short_sha }}.zip
      bucket-key: artefacts/${{ needs.build-names.outputs.pretty_branch_name }}.zip
    permissions:
      id-token: write
    secrets:
      AWS_ACCOUNT: ${{ secrets.AWS_ACCOUNT }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      BUCKET_NAME: ${{ secrets.S3_BUCKET_NAME }}
      AWS_ROLE_TO_ASSUME_ARN: ${{ secrets.AWS_ROLE_TO_ASSUME_ARN }}

  update-lambda-code:
    if: startsWith(github.ref, 'refs/heads/feat') || startsWith(github.ref, 'refs/heads/feature') || startsWith(github.ref, 'refs/heads/fix') || startsWith(github.ref, 'refs/heads/main')
    uses: dvsa/.github/.github/workflows/update-lambda-function.yaml@v5.0.3
    needs: [ build-names, build, upload-to-s3 ]
    with:
      environment: dev
      lambda-function-name: ApiGatewayTokenAuthorizerEvent
      bucket-key: artefacts/${{ needs.build-names.outputs.pretty_branch_name }}.zip
    permissions:
      id-token: write
    secrets:
      AWS_ACCOUNT: ${{ secrets.AWS_ACCOUNT }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      BUCKET_NAME: ${{ secrets.S3_BUCKET_NAME }}
      AWS_ROLE_TO_ASSUME_ARN: ${{ secrets.AWS_ROLE_TO_ASSUME_ARN }}
